html, body { 
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    color: black
}

.next-row {
  margin-left: 83%;
}

a {   
    text-decoration: none;
}

.paragraph {
    width: 60%;
    padding-bottom: 30px;
}

.poster {
  width: 100vw;
}

.poster-img {
  max-width: 100%;
  max-height: 100%;
  display: block
}

.nav-bar {
    background-color: white;
    position: fixed;
    
    top: 0;
    width: 100%;
    height: 30vh;
    padding-left: 12%;
    padding-right: 1%;
    padding-bottom: 100px;
    z-index: 10;
    margin: 0;
    max-height: 10%;
    display: flex;
}

.nav-bar-2 {
  background-color: white;
  
  width: 100%;
  padding-left: 5%;
  padding-right: 1%;
  z-index: 10;
  margin: 0;
  max-height: 10%;
  display: flex;
}

.display-inline-block {
  display: inline-block;
}

.language-icon-button {
  display: block;
  width: 70px;
  height: 45px;
  border: none;
  margin-bottom: 10px;
  background-color: white;
  
}

.language-icon {
  width: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu {
  display: none;
}

.centered {
    /*margin-top: 5px;*/
    vertical-align: middle;
}

.navigation-icons {
  display: block;
  position: fixed;
  top: 30px;
  left: 25%;
  background-color: white;
  z-index: 8;
}

.logo {
    width: 150px;
    height: 150px;
    background-color: white;
    z-index: 9;
}

nav div ul li {
    font-size: 1.5em;
}

.nav-link {
    display: block;
    font-size: 1.1em;
    padding: 15px 15px;
    color: black;
    border: rgb(92, 183, 240);
    border-color: rgb(138, 199, 236);
    border-style: outset;
    border-width: 3px;
    border-radius: 20px;
    margin: 0px 5px;
}

.nav-link:hover {
    background-color: #184b9e;
    color: white;
}

.nav-icon {
  position: relative;
  top: 15px;
  
}

.h1-welcome {
  padding-left: 30%;
  font-size: 3.5em;
  margin-top: 11.5%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

section {
    position: relative;
    z-index: 1;
}

#course-of-action, #section-2, #reservation-form, #section-3, #contacts, #top-of-the-page {
    display: block;
    position: relative;
    top: -200px;
}

.first-section {
  margin-top: 1%;
    z-index: inherit;
}

.div-section {
    z-index: inherit;
}

.dark-theme-section {
    background-color: #184b9e;
    color: white;
    z-index: inherit;
}

.dark-to-light:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

.main-section {
    width: 100%;
    padding: 0 10% 0 12%;
    z-index: inherit;
    
}

.column {
    position: relative;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.how-to-do-it {
    font-size: 1.5em;
    padding: 10px;
}

.h1-light {
    font-size: 3em;
}

.h1-light-2 {
    font-size: 3em;
    color: rgb(48, 204, 27);
}

.a-go-float {
    background-color: #184b9e;
    width: 80%;
    border-radius: 40%;
    margin-left: 0;
    margin-top: 0;
}

.a-go-float:hover {
background-color: black;
}

.h1-go-float {
  margin: 0;
  padding: 13% 0 0 25.5%;    
}

#img-logo-big {
    margin: 0 0 3% 28%;
    padding-bottom: 12.5%;
    width: 40%;
}

.light-theme-section {
    margin-top: 0;
    position: relative;
}

.youtube-video {
  margin-left: 20%;
  width: 900px;
  height: 500px;
}

.section-2 {
    padding-left: 12%;
    padding-bottom: 2%;
}

.calendar-section {
    width: 80%;
    height: 70vh;
}

.small-padding {
    padding: 0;
    margin: 0;
}

.h1-dark-theme {
    font-size: 3em;
    padding: 0 0 1% 0;
    margin: 0;
}

.white-icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  color: white;
  padding-left: 10px;
}

.small-icon {
  width: 20px;
}

.inline-h2 {
  margin: 0;
  padding: 0 0 10px 0;
  display: inline-block;
}

.label {
    display: inline-block;
    width: 30%;
    font-size: 2em;
    padding: 1% 0;
}

.centered-text {
  wdith: 100%;
  padding-right: 40%;
}

input[type=text], input[type=email], input[type=number] {
    width: 20%;
    padding: 1% 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1.5em;
  }

  select {
    width: 9.5%;
    padding: 1% 0;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1% 5%;
    border: none;
    border-radius: 4px;
    font-size: 2em;
    cursor: pointer;
    float: left;
  }

  input:hover[type=submit] {
    background-color: #12ee1a;
    color: white;
    
  }

  .reservation-response {
    display: block;
    padding: 1px;
    height: 50px;
    margin-right: 20%;
    margin-top: 3%;
    
  }

  .reservation-response-failure {
    background-color: rgb(238, 39, 32);
    font-size: 2em;
    padding: 2%;
    width: 100%;
  }


  .reservation-response-success {
    background-color: rgb(65, 233, 23);
    font-size: 2em;
    padding: 2%;
    width: 40%;
  }

  .h2-dark {
      color: black;
  }

  .light-to-dark:hover {
    background-color: #184b9e;
    color: white;
  }

  .like-h2 {
    margin-top: 1%;
    padding-left: 0;
    margin-left: 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .map {
    margin-left: 10px;
    width: 400px;
    height: 300px;
  }

/* Slideshow container */
.slideshow-container {  
  top: 210px;
  max-width: 100%;
  height: 500px;
  position: relative;
  padding: 0;
  margin: 0 0px;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #444444;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text-on-gallery {
  background-color: rgba(90, 190, 236, 0.7);
  padding: 8px 12px;
  position: absolute;
  top: 45%;
  width: 30%;
  height: 30%;
  margin-left: 55%;
  text-align: center;
}

.changing-gallery-text-big {
    margin-top: 2%;
    color: white;
    opacity: 1;
    font-size: 3em;
}

.changing-gallery-text-small {
    margin-top: 2%;
    color: white;
    opacity: 1;
    font-size: 1.5em;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.toggle-dropdown-menu {
  display: none;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 1600px){ 
  .h1-welcome {
    padding-top: 0%;
    margin-top: 9%;
  }

  .text-on-gallery {
    top: 40%;
  }

}

@media only screen and (max-width: 1400px){ 
  .nav-bar {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
    width: 100%;
  }

  .h1-welcome {
    padding-top: 0%;
    margin-top: 4%;
  }

  .text-on-gallery {
    top: 20%;
  }

  .next-row {
    margin: 0;
  }

}

@media only screen and (max-width: 1175px){ 
  .nav-link {
   
    font-size: 1.1em;
    padding: 5px 5px;
    color: black;
    border: rgb(92, 183, 240);
    border-color: rgb(138, 199, 236);
    border-style: outset;
    border-width: 3px;
    border-radius: 20px;
    margin: 0px 5px;
}

  .nav-bar {
    display: flex;
  }

}

@media only screen and (max-width: 640px){

  #course-of-action, #section-2, #reservation-form, #section-3, #contacts, #top-of-the-page {
    display: block;
    position: relative;
    top: -130px;
}

  /*.slideshow-container {
    display: none;
  }*/

  .toggle-dropdown-menu {
    display: none;
  }

  .nav-bar {
    position: fixed;
    margin-top: 10px;
    padding-bottom: 35px;
    margin: 0;
  }

  .languages-container {
    margin-left: 3%;
    margin-top: 3%;
    vertical-align: top;
  }

  .language-icon-button {
  display: block;
  width: 60px;
  height: 40px;
  border: none;
  margin-bottom: 5px;
  
  }

  .language-icon {
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .logo {
    margin: 0 0 0 0;
    height: 120px;
    width: 120px;
  }

  .dropdown-menu {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
  }

  nav div a  {
    display: inline-block;
  }

  .nav-link {
    font-size: 1em;
    text-align: center;
    background-color: white;
    z-index: 11;
  }

  .navigation-item {
    margin: 0;
    width: 100%;
    padding: 0;
    
    text-align: center;
    background-color: white;
    z-index: 11;
  }

  
  
  .h1-welcome {
    padding-left: 15%;
    margin-left: 0;
    margin-top: 60%;
    padding-top: 0;
  }

  .main-section {
    padding: 0 0 0 0;
    width: 100%;
  }

  .column {
    width: 100%;
    padding-top: 1%;
    display: block;
    text-align: center;
  }
 
  #img-logo-big {
    margin: 0 0 0 0;
    padding-top: 0;
    width: 90%;
  }

  .h1-go-float {
    padding: 0 0 0 12%;
    width: 100%;
  }

  .youtube-video {
    margin-left: 0;
    width: 400px;
  }

  .section-2 {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .calendar-section {
    width: 100%;
  }

  .div-section {
    padding: 0 5% 0 5%;
    width: 90%;
    text-align: center;
  }
  
  
  .paragraph {
    text-align: justify;
    width: 100%;
  }
  

  .gform {
    text-align: left;
    padding-left: 5%;
    font-size: 0.7em;
  }

  .label {
    width: 100%;
  }

  #meno-priezvisko, #e-mail-klienta, #telefonne-cislo {
    width: 80%;
  }

  #pocet-ludi, #pocet-kanoe, #pocet-paddleboardov, #datum-splavu, #zaciatok-splavu, #mesiac {
    width: 30%;
  }
  /* Slideshow container */
.slideshow-container {  
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: max-content;
  margin-left: -600px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #444444;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text-on-gallery {
  top: 60%;
  display: inline-block;
  position: absolute;
  left: 1%;
  height: auto;
}

.changing-gallery-text-big {
    margin-top: 2%;
    color: white;
    opacity: 1;
    font-size: 1.5em;
}

.changing-gallery-text-small {
    margin-top: 2%;
    color: white;
    opacity: 1;
    font-size: 1em;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.toggle-dropdown-menu {
  display: none;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


}
